go 1.25.5

use (
	.
	./module/assets
	./module/auth
	./module/contacts
	./module/core
	./module/coupons
	./module/email
	./module/exports
	./module/falabella
	./module/membership
	./module/orders
	./module/products
	./module/syncrecord
	./module/analytics
	./module/shipping
	./module/shopify
)
